<div class="row">
  <div class="col-sm-12">

    <form (ngSubmit)="onSubmit(f)" #f="ngForm">

      <div class="row">
        <div class="col-md-6 form-group">
          <label for="apiKey">apiKey</label>
          <input
          type="text"
          id="apiKey"
          class="form-control"
          name="apiKey"
          ngModel
          required>
        </div>
        <div class="col-md-6 form-group">
            <label for="authDomain">authDomain</label>
            <input
            type="text"
            id="authDomain"
            class="form-control"
            name="authDomain"
            ngModel
            required>
          </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
            <button
              class="btn btn-success"
              type="submit"
              [disabled]="!f.valid">Submit</button>
            <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
          </div>
        </div>

    </form>
  </div>
</div>
