<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
   
    <form (ngSubmit)="onSendEmail(loginByEmail)" #loginByEmail="ngForm">
      <div class="form-group">
        <label for="email">Login by email</label>
        <input type="email" id="email" name="email" ngModel class="form-control">
      </div>
      <button class="btn btn-success" type="submit" [disabled]="!f.valid">Send</button>
    </form>
<br />
<br />

<form (ngSubmit)="onSignin(f)" #f="ngForm">
        <div class="form-group">
          <label for="email">Login by phone</label>
          <input type="email" id="email" name="email" ngModel class="form-control">
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Send</button>
      </form>
  


  </div>
</div>

